.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") 提问
      li
        a(href="") 分享
      li
        a(href="") 讨论
      li
        a(href="") 建议
      li
        a(href="") 动态
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章